.header {
    margin: 45px auto 0 auto;
    max-width: 880px;
    border-bottom: 1px rgb(84, 84, 84, 0.7) solid;
}

@media screen and (max-width: 879px) {
    .header {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .header {
        max-width: 320px;
        margin-top: 28px;
    }
}